body {
    background-color: black;
}

#heading {
    color: white;
    text-align: center;
}

.gear-card {
    margin: 10px;
    height: 540px;
}

.gear-row {
    justify-content: center;
}

.gear-card-title {
    text-align: center;
    color: white;
}

.gear-card-body {
    text-align: center;
    border: solid black 2px;
    margin: 20px;
    background-color:slategrey;
}

.gear-card-img-top {
    margin: 20px;
    width: 250px;
    height: 265px;
}

.navbar-custom {    
    background-color: black;
}

.navbar-nav {
color: white !important;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: rgba(255,255,255,.8);
}

.navbar-toggler {
    color: white !important;
}

.nav-link {
    color: white;
}

footer {
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
}


.fab  {
    align-content: center;
    color: white;
    font-size: 1.5em;
    padding: 5px;

}

.aboutCard {
  margin: 10px 10px 10px 10px;
  padding: 10px; 
} 


.centered {
    align-self: center;
}

.domStuff {
    margin: auto;
}

form {
    background-color: slategray;
    position: absolute;
    left: 20px;
    bottom: 30px;
    z-index: 1;
    height: 300px;
    width: 300px;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 20px 20px 50px grey;
}


.hero-image {
display: flex;
display: block;
margin-left: auto;
margin-right: auto;
width: auto;
    
}

/* The hero image */
.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the image (photographer.jpg). This will make the text easier to read */
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url();

  /* Set a specific height */
  height: 50%;

  /* Position and center the image to scale nicely on all screens */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;

}

/* Place text in the middle of the image */
.hero-text {
  text-align: center;
  text-shadow: black;
  position: absolute;
  top: 80%; 
  left: 50%; 
  transform: translate(-50%, -50%);
  color: white;
  padding: 10px;
}

.about-h1 {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.card {
background-color: slategray;
}

.card-text {
    align-content: flex-start;

}


/* Album page CSS BEGIN*/

.albumsHeading {
    color: white;
    text-align: center;
    margin-top: 1.5em;
    margin-bottom: 1.5em;
}
                
.albumCards {
    color: white;
    text-align: center;
}


.album-card-img-top {
    width: 250px;
    align-self: center;
    margin-top: 20px;
    border-radius: 15px;
}

.album-card {
    background-color: slategray;
    margin: 10px;
    border-radius: 20px;
}

.album-card-title {
    text-align: center;
    margin-top: .5em;

}

.album-card-header {
    background-color: black;
    text-align: center;
    color: white;
}

.album-row {
    justify-content: center;
}


